
@model IEnumerable<PickTimeOutCompany.Models.VehicleDispatchModel>
@{
    ViewBag.Title = "VehicleDispatch";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<style>

    .text-title {
        margin-top: 15px;
        font-weight: bolder;
        font-size: 16px;
    }

    button {
        font-size: 18px;
        width: 80px;
        height: 40px;
    }

    .container {
        width: 100%;
    }

    .img-left {
        border: 1px solid;
        display: flex;
        align-items: center;
        background-color: darkgray;
        height: 250px;
        flex-direction: column;
        justify-content: center;
    }

    .img-right {
        border: 1px solid;
        display: flex;
        align-items: center;
        background-color: darkgray;
        height: 250px;
        margin-left: 5px;
        flex-direction: column;
        justify-content: center;
    }

    .are-search {
        padding: 20px 0 20px 0;
    }

    .close {
        width: 0px !important;
    }


    #table-id {
        overflow-x: auto;
    }

    .card {
        display: none;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #000;
        font-size: 12px;
        color: #328da8;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        height: 20px;
    }

    p {
        font-family: monospace;
        animation: color-change 1s infinite;
        margin: 0 !important;
    }

    .fetched-data {
        width: 100%;
    }

    .title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 40px;
    }

    .container {
        width: 100%;
    }

    body {
        background-color: #eee;
        height: 30px !important;
    }

    table th, table td {
        text-align: center;
        border-left: 1px solid #ddd;
    }

    tbody td:last-child {
        border-right: 1px solid #ddd;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #ddd !important;
    }

    table tbody tr.selected td {
        background-color: hotpink;
        color: red;
    }

    table tr:nth-child(even) {
        background-color: #e4e3e3
    }

    th {
        background: rgb(17, 114, 140);
        color: #fff;
        border-left: 1px solid #ddd;
        text-align: center !important;
    }

    .pagination {
        margin: 0;
    }

        .pagination li:hover {
            cursor: pointer;
        }

    .header_wrap {
        padding: 30px 0;
    }

    .tb_search {
        width: 20%;
        float: right;
    }

    .pagination-container {
        width: 70%;
        float: left;
    }

    .rows_count {
        width: 20%;
        float: right;
        text-align: right;
        color: #999;
    }

    p {
        position: absolute;
        white-space: nowrap;
        animation: floatText 15s infinite alternate-reverse ease-in-out;
        animation-timing-function: linear;
        color: white;
        animation-iteration-count: 1;
    }

    @@-webkit-keyframes floatText {
        from {
            left: 40%;
        }

        to {
            /* left: auto; */
            left: 00%;
        }
    }

    .clear-btn {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        width: 120px;
    }



    .change-locator {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        width: 120px;
    }


    .form-label {
        padding-left: 20px;
    }

    h2 {
        display: flex;
        justify-content: left;
    }

    label {
        font-size: 20px;
    }

    input {
        block-size: 20px;
    }

    #table-id-2 {
        overflow-y: scroll !important;
        max-height: 100px !important;
    }

    .table-wrapper {
        max-height: 270px;
        display: inline-block;
        width: 100%;
        overflow: auto;
    }

        .table-wrapper thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    .table-data {
        max-height: 300px;
        display: inline-block;
        width: 100%;
        overflow: auto;
        height: 350px;
        padding-bottom: 20px;
    }

        .table-data thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    .modal-header .close {
        margin-top: -2px;
        display: flex;
        justify-content: flex-end;
        padding-top: 8px;
    }

    .modal-header {
        background-color: rgb(210, 225, 250);
    }

    #show-data {
        margin-left: 20px;
    }

    #receiptno, #locatorBlock, #StockId {
        max-width: 350px;
    }

    .not-data {
        background: rgb(153, 189, 199) !important;
    }

    body {
        padding-top: 0 !important;
        display: block !important;
    }
</style>

<div class="container-fluid">
    <div style="display: flex; justify-content: center; align-items: center; color: black;">
        <h2>外幹日常下班車輛登記</h2>
    </div>
</div>

@{
    string usernameinView = ViewBag.username;
    string userIDinView = ViewBag.userID;
}
<h4> @usernameinView - @userIDinView </h4>

<br />
<div style="display: flex; justify-content: space-between; gap: 20px; margin-bottom: 15px;">
    <div style="margin-left:40px;">
        <div id="divTime">
            <div style="display: flex;">
                <label style="width:60px;">班次:</label>
                <div id="listTime"></div>
            </div>
        </div>

        <div id="divAddress">
            <!-- Tạo khoảng cách giữa 2 nhóm -->
            <div style="display: flex;">
                <label style="width:60px;">地點:</label>
                <div id="listAddress"></div>
            </div>
        </div>
        <div style="display:flex;">
            <label for="supermarket" style="width:60px">超市:</label>
            <label style="width:140px;"><input type="checkbox" id="supermarket" name="supermarket" style="width:20px;"> <label>(誠達下車)</label></label>
        </div>

        <div style="margin-top: 20px; display:flex; gap:10px;">
            <!-- Div chứa hai button -->
            <button id="btnOK" style="padding: 10px 20px; background-color: #8e6d11; color: white; border: none; border-radius: 5px; cursor: pointer;">
                OK
            </button>
            <button id="btnUpdate" style="padding: 10px 20px; background-color: #8e6d11; color: white; border: none; border-radius: 5px; cursor: pointer; ">
                Edit
            </button>
            <label id="updateStatus" style="display:none; font-size:30px">登記成功</label>
        </div>
    </div>
</div>

<br />
<div class="container-fluid" style="border: 2px solid white; padding: 10px; border-radius: 20px; overflow: hidden;">
    <table id="reportTable" class="table" style="border-radius: 0px; border: 2px solid white;">
        <thead style="position: sticky; top: 0; z-index: 1; height: 30px; line-height: 30px; background-color: #7F886A; text-align: center;">
            <tr style="text-align: center; color: white; ">
                <th class="border border-white" style="text-align: center;">Date Out</th>
                <th class="border border-white" style="text-align: center;">Time Out</th>
                <th class="border border-white" style="text-align: center;">Address</th>
                <th class="border border-white" style="text-align: center; width: 60px">SUPERMARKET</th>
                <th class="border border-white" style="text-align: center">User ID</th>
                <th class="border border-white" style="text-align: center;">User Name</th>
                <th class="border border-white" style="text-align: center">UDT</th>
            </tr>
        </thead>
        <tbody style="font-size: 15px; color: black;" id="dataBody"></tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var today = new Date();  // Lấy ngày hiện tại
            var currentHours = today.getHours();
            var currentMinutes = today.getMinutes();
            if (today.getDay() === 6) {
                $("#listTime").append('<label style="width:140px;"><input type="radio" name="time" id="time1" value="17:10" style="width:20px;"> <label>17:10</label></label>');
                $("#listTime").append('<label style="width:140px;"><input type="radio" name="time" id="time2" value="20:00" style="width:20px;"> <label>20:00</label></label>');
            }
            else {
                $("#listTime").append('<label style="width:140px;"><input type="radio" name="time" id="time1" value="17:50" style="width:20px;"> <label>17:50</label></label>');
                $("#listTime").append('<label style="width:140px;"><input type="radio" name="time" id="time2" value="19:00" style="width:20px;"> <label>19:00</label></label>');
                $("#listTime").append('<label style="width:140px;"><input type="radio" name="time" id="time3" value="20:30" style="width:20px;"> <label>20:30</label></label>');
            }
            $("#listAddress").append('<label style="width:140px;"><input type="radio" name="address" id="address1" value="THANH DAT" style="width:20px;"> <label>誠達</label></label>');
            $("#listAddress").append('<label style="width:140px;"><input type="radio" name="address" id="address2" value="BAO SON" style="width:20px;"> <label>寶山</label></label>');
            $("#listAddress").append('<label style="width:140px;"><input type="radio" name="address" id="address3" value="TIEN LOC" style="width:20px;"> <label>近禄</label></label>');



            let selectedAddress = "@(ViewBag.selectedAddress ?? "")";
            setRadioValue("address", selectedAddress);
            let selectedTimout = "@(ViewBag.selectedTimeout ?? "")";
            setRadioValue("time", selectedTimout);
            if ("@ViewBag.selectedSupermarket" === "Y") {
                document.getElementById("supermarket").checked = true; // Nếu Y, checkbox sẽ được check
            }
            updateTable();
            //document.querySelectorAll("input[name='time']").forEach(radio => {
            //    var radioTime = radio.value.split(":"); // Giả sử value có định dạng "HH:MM"
            //    var radioHours = parseInt(radioTime[0], 10);
            //    var radioMinutes = parseInt(radioTime[1], 10);
            //    console.log(radioHours, currentHours);
            //    if (radioHours > currentHours || (radioHours === currentHours && radioMinutes <= currentMinutes)) {
            //        radio.disabled = true;
            //    }
            //    // Kiểm tra nếu radio có thời gian nhỏ hơn thời gian hiện tại thì disable
            //    //if (radioHours < currentHours || (radioHours === currentHours && radioMinutes <= currentMinutes)) {
            //    //    radio.disabled = true;
            //    //}
            //});
        });

        function checkTime() {
            var today = new Date();  // Lấy ngày hiện tại
            var currentHours = today.getHours();
            var currentMinutes = today.getMinutes();
            document.querySelectorAll("input[name='time']").forEach(radio => {
                var radioTime = radio.value.split(":");
                var radioHours = parseInt(radioTime[0], 10);
                var radioMinutes = parseInt(radioTime[1], 10);
                console.log(radioHours, currentHours);
                if (radioHours > currentHours || (radioHours === currentHours && radioMinutes <= currentMinutes)) {
                    radio.disabled = true;
                }
            });
        }

        function updateTable() {
            $.ajax({
                url: '/VehicleDispatch/GetTableData',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var tableBody = $('#dataBody');
                    tableBody.empty();
                    console.log(data);
                    if (data.length === 0) {
                        document.querySelectorAll('input[name="time"]').forEach(radio => {
                            radio.disabled = false;
                        });
                        document.querySelectorAll('input[name="address"]').forEach(radio => {
                            radio.disabled = false;
                        });
                        document.getElementById("btnUpdate").style.display = "none";
                        document.getElementById("btnOK").style.display = "block";
                    }
                    else {
                        $.each(data, function (index, item) {
                            var row = `<tr style="text-align: center;">
                                                                        <td>${item.DATE_OUT}</td>
                                                                        <td>${item.TIME_OUT}</td>
                                                                        <td>${item.ADDRESS}</td>
                                                                        <td>${item.SUPERMARKET}</td>
                                                                        <td>${item.USER_NAME}</td>
                                                                        <td>${item.DESCRIPTION}</td>
                                                                        <td>${item.UDT}</td>
                                                                    </tr>`
                            tableBody.append(row);
                        });

                        document.querySelectorAll('input[name="time"]').forEach(radio => {
                            radio.disabled = true;
                        });
                        document.querySelectorAll('input[name="address"]').forEach(radio => {
                            radio.disabled = true;
                        });
                        document.getElementById("supermarket").disabled = true;
                        document.getElementById("btnOK").style.display = "none";
                        document.getElementById("btnUpdate").style.display = "block";
                    }
                },
                error: function () {
                    alert("Lỗi khi tải dữ liệu!");
                }
            });
        }

        function setRadioValue(elementName, value) {
            let radios = document.getElementsByName(elementName);

            for (let radio of radios) {
                if (radio.value === value) {
                    radio.checked = true;
                    return true; // Trả về true nếu đặt thành công
                }
            }
            return false; // Trả về false nếu không tìm thấy giá trị trùng khớp
        }


        function checkRadio(elementName) {
            let selectedRadio = document.querySelector(`input[name="${elementName}"]:checked`);
            return selectedRadio === null;
        }
        function getSelectedRadioValue(elementName) {
            let selectedRadio = document.querySelector(`input[name="${elementName}"]:checked`);
            return selectedRadio ? selectedRadio.value : null;
        }

        function checkCheckbox() {
            var checkbox = document.getElementById("supermarket");
            return checkbox.checked ? "Y" : "N";
        }

        document.getElementById("btnOK").addEventListener("click", function () {
            if (checkRadio("time")) {
                alert("Please select Time Out!");
            }
            else if (checkRadio("address")) {
                alert("Please select address!")
            }
            else {
                $.ajax({
                    url: "/VehicleDispatch/InsertData",
                    type: "GET", // Gửi bằng phương thức GET
                    data: { timeout: getSelectedRadioValue("time"), address: getSelectedRadioValue("address"), checkbox: checkCheckbox()},
                    dataType: "json",
                    success: function (result) {
                        if (result.redirectUrl != null) {
                            window.location.href = result.redirectUrl;
                        }
                        document.getElementById("updateStatus").style.display = "block";
                        document.getElementById("updateStatus").style.color = "green";
                        console.log("Update successfully.");
                        updateTable();
                    },
                    error: function (xhr, status, error) {
                        console.error("Lỗi thêm dữ liệu:", error);
                    }
                });
            }
        });

        $(document).ready(function () {
            document.querySelectorAll('input[name="time"]').forEach(radio => {
                radio.addEventListener("change", function () {
                    if (this.checked) {
                        if (radio.id === "time1") {
                            document.getElementById("supermarket").disabled = true;
                        }
                        else if (getSelectedRadioValue("address") !== "THANH DAT") {
                            document.getElementById("supermarket").disabled = false;
                        }
                    }
                });
            });
            document.querySelectorAll('input[name="address"]').forEach(radio => {
                radio.addEventListener("change", function () {
                    if (this.checked) {
                        if (radio.id === "address1") {
                            document.getElementById("supermarket").disabled = true;
                        }
                        else if (getSelectedRadioValue("time") !== "17:50" && getSelectedRadioValue("time") !== "17:10") {
                            document.getElementById("supermarket").disabled = false;
                        }
                    }
                });
            });
            document.getElementById("supermarket").addEventListener("change", function () {
                if (this.checked) {
                    document.getElementById("time1").disabled = true;
                    document.getElementById("address1").disabled = true;
                }
                else {
                    document.getElementById("time1").disabled = false;
                    document.getElementById("address1").disabled = false;
                }
            });
        })

        document.getElementById("btnUpdate").addEventListener("click", function () {
            document.querySelectorAll('input[name="time"]').forEach(radio => {
                radio.disabled = false;
            });
            document.querySelectorAll('input[name="address"]').forEach(radio => {
                radio.disabled = false;
            });
            document.getElementById("supermarket").disabled = false;
            document.getElementById("btnUpdate").style.display = "none";
            document.getElementById("updateStatus").style.display = "none";
            document.getElementById("btnOK").style.display = "block";
            if (document.getElementById("supermarket").checked) {
                document.getElementById("time1").disabled = true;
                document.getElementById("address1").disabled = true;
            }
            if (document.getElementById("time1").checked) {
                document.getElementById("supermarket").disabled = true;
            }
            if (document.getElementById("address1").checked) {
                document.getElementById("supermarket").disabled = true;
            }
            //document.querySelectorAll("input[name='time']").forEach(radio => radio.checked = false);
        });

    </script>
}